body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e5b88;
}

.App-header {
  text-align: center;
}

.login-container {
  background-color: #d3d3d3;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}

h2 {
  margin-bottom: 2rem;
  color: #2e5b88;
}

.input-container {
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #2e5b88;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #254970;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .login-container {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .login-container {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  input, button {
    padding: 0.5rem;
  }

  button {
    font-size: 0.875rem;
  }
}
